@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family:'Montserrat', sans-serif ;
    
}
:root{
    --primary-color:#141c2f;
    --secondary-color:white;
    --tertiary-color:rgb(24, 80, 184);
}
  
.bright-theme{
    --primary-color:white;
    --secondary-color:black;
    --tertiary-color:lightblue;
}


body{
    margin: 5rem;
    background-color:var(--primary-color);
    color:var(--secondary-color);
}
/* sun image  */
.sun-img{
    width: 1.5em;
    cursor: pointer;
}
/* section one styling */
.sec1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* section 2 styling */
.input_field {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}
input{
    padding: 8px;
    border-radius: 5px;
    outline-style: none;
    width: 30%;
}
button {
    border: none;
    padding: 10px;
    border-radius: 3px;
    margin-left: 15px;
    transition: 0.3s;
    background-color:var(--tertiary-color);
    color:var(--secondary-color);
    font-weight: bolder;
}

button:hover {
    letter-spacing: 3px;
}

/* avatar section */
.profile_pic{
width: 100px;
height: 100px;
border-radius: 50%;
}


.profile{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 1.5rem;
    
}


/* profile section  */
.profile_sec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    } 

.profile_sec > * {
    margin-top: 0.75rem;

}

/* user statistics section  */
.stat{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2rem 2rem;
    font-weight: bolder;
    text-align: center;
}

/* footer */

.location::before{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f276";
    margin-right: .5rem;
    font-size: .75rem;
}
.tweet::before{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f079";
    margin-right: .5rem;
    font-size: .75rem;
}

.Link::before{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f0c1";
    margin-right: .5rem;
    font-size: .75rem;
}
.org::before{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f1ad";
    margin-right: .5rem;
    font-size: .75rem;
}

.row-1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:1fr 1fr;
   
}

.row-1 > * {
    justify-self:center;
    margin: 5px 0;
}

